    body {
    background-color: #ffffff;
    background-image:
        linear-gradient(rgba(236, 236, 236, 0.3) 1px, transparent 1px),
        linear-gradient(to right, rgba(236, 236, 236, 0.3) 1px, transparent 1px);
    background-size: 100px 73px;
    }

    .logo {
        display: flex;
        align-items: center;
        font-size: 40px;
        color: black;
        gap: 0px; 
        margin: 0; 
        padding: 0;
    }

    .logo span {
        font-weight: bold;
        margin-left: 10px; 
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
    }

    .logo:hover {
        cursor: pointer;
        color: hotpink;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
        border: 2px solid transparent; 
        background-color: white;
        border-radius: 10px;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .btn{
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px 20px;
        background-color: rgb(27, 25, 25);
        cursor: pointer;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
        color: white;
    }

    .nav-link ul{
        list-style: none;
        display: flex;
        gap: 100px;
        margin: 0;
        padding: 0;
    }

    .nav-link ul li a{
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px 15px;
        border-radius: 20px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }

    .hero {
        padding: 50px;
        width: 93%;
        margin-right: 100px;
    }

    .hero-text {
        text-align: center;
        margin-bottom: 50px; 
        
    }

    .hero-text h1 {
        margin-bottom: 20px;
        font-size: 3rem;
        color: #111;
        line-height: 1.2;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        
        
    }
    .hero-text p {
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .hero-content {
        display: flex;
        align-items: flex-start; 
        justify-content: space-between;
        gap: 30px; 
        margin-right: 50px;
    }

    .upload-box {
        border: 2px dashed rgb(52, 51, 51);
        cursor: pointer;
        text-align: left;
        border-radius: 30px;
        padding: 50px;
        background-color: #f9f9f9;   
        width: 400px;
        margin-top: 120px;
        margin-left: 200px;
        
    }

    .upload-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer; 
    }

    .upload-content .fa-solid.fa-upload {
        font-size: 3rem; 
        color: #333;
        margin-bottom: 15px;
    }

    .upload-content .drop-text {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    .robot-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-right: 50px; 
    }

    /* top-left glow */
    .robot-container::before {
        content: "";
        position: absolute;
        width: 600px;
        height: 300px;
        background: radial-gradient(circle, rgba(100,150,255,0.45), transparent 100%);
        filter: blur(70px);
        top: -250px;
        left: -900px;   
        z-index: -1;
    }

    .robot-container::after {
        content: "";
        position: absolute;
        width: 600px;
        height: 300px;
        background: radial-gradient(circle, rgba(100,150,255,0.45), transparent 70%);
        filter: blur(70px);
        bottom: -30px;
        right: -130px;
        z-index: -1;
    }

    .robot-container img {
        width: 450px;
        height: auto;
        margin-top: 50px; 
    }


    @keyframes float {
        0%, 100% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-10px);
        }
    }

    .hidden {
        display: none !important; 
    }

    .converter-box {
        width: 400px;
        margin-top: 30px;
        margin-left: 200px;
        padding: 35px; 
        background-color:#f9f9f9; 
        border-radius: 20px;
        border: 2px dashed rgb(52, 51, 51); 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    }


    .image-previews {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee; 
    }

    .preview-card {
        text-align: center;
        position: relative;
        width: 150px; 
    }

    .format-tag {
    
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        color: white;
        padding: 2px 6px;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .image-placeholder {
    
        width: 120px;
        height: 120px;
        border: 1px dashed #333; 
        background-color: #f9f9f9;
        background-size: cover;
        background-position: center;
        margin: 10px auto 0;
    }

    .conversion-arrow {
        font-size: 1.5rem;
        color: #333;
    }

    .controls-panel {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        gap: 30px;
        align-items: flex-end;
    }

    .output-selector {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .output-selector label {
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 5px;
    }


    .converter-actions {
        display: flex;
        gap: 10px;
    }

    .action-btn, .reset-btn {
    
        border: 1px solid #333;
        border-radius: 5px;
        background-color: white;
        color: #333;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.1s;
    }

    .action-btn:hover, .reset-btn:hover {
        background-color: #eee;
    }

    .base64-output {
        padding-top: 15px;
        border-top: 1px solid #eee;
    }

    .base64-output p:first-child {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 0.9rem;
    }

    .base64-box {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        background-color: #f9f9f9;
    }

    .base64-text {
        flex-grow: 1;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.75rem;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 5px;
    }

    .copy-btn {
        background-color: #333;
        color: white;
        border: none;
        padding: 5px 8px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.75rem;
        font-weight: normal;
    }

    .copy-btn:hover {
        background-color: #555;
    }

    .size-text {
        display: block;
        margin-top: 5px;
        font-size: 0.7rem;
        color: #888;
        text-align: right;
    }

.trusted-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    margin-top: 50px;
    background-color: white;
}

.trusted-text {
    font-size: 1.1rem;
    color: #c5c3c3;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
}


.logo-list {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    padding: 0 80px;
    width: 100%;
    max-width: 920px;
    position: relative;
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 100%,
        black 20%,
        transparent 100%
    );
}

.client-logo {
    height: 30px;
    width: auto;
    filter: none;
    opacity: 1;
    transition: opacity 0.3s;
}


.client-logo:hover {
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .logo-list {
        padding: 0 40px;
        gap: 30px;
    }
    
    .client-logo {
        height: 25px;
    }
}


.features-scroll-section {
    padding: 100px 0;
    background-color: #fcfcfc; 
}


.features-header-premium {
    max-width: 1200px; 
    margin: 0 auto 50px;
    padding: 0 50px; 
    text-align: left; 
}

.features-header-premium h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #111;
    margin-bottom: 300px;
}

.features-header-premium p {
    font-size: 1.25rem;
    color: #666;
    line-height: 1.6;
}


/* Scrollable Container */

.stats-section {
    background-color: #ffffff;
    padding: 50px 0;
    width: 100%;
        background-image:
        linear-gradient(rgba(236, 236, 236, 0.3) 1px, transparent 1px),
        linear-gradient(to right, rgba(236, 236, 236, 0.3) 1px, transparent 1px);
    background-size: 100px 73px;
}

.stats-header {
    max-width: 1400px;
    padding-left: 50px; 
    margin-bottom: 120px;    
}

.stats-subtitle {
    font-size: 0.9rem;
    color: #777;
}

.stats-title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;
    color: #111;
}


.stats-scroll-container {
    width: 100%;
    overflow-x: auto;
    padding: 20px 0 40px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}


.stats-scroll-container::-webkit-scrollbar {
    height: 8px;
}

.stats-scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    margin: 0 20px;
}

.stats-scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.stats-scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.stats-grid {
    display: flex;
    gap: 30px;
    padding: 0 20px;
    width: max-content; 
    margin: 0 auto;
}


.stats-card {
    background-color: #f8f7ff;
    padding: 38px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 350px;
    flex-shrink: 0; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.stats-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.stats-number {
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 10px;
    color: #111;
    line-height: 1;
}

.stats-label {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #222;
}

.stats-text {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .stats-title {
        font-size: 2.5rem;
    }
    
    .stats-card {
        min-width: 280px;
        padding: 30px;
    }
    
    .stats-number {
        font-size: 3.5rem;
    }
}